#stars {
	display: flex;
	justify-content: space-between;
	width: 550px;
}

.star__logo {
	width: 5rem;
}

.star__logo path {
	fill: none;
	stroke: #808080;
	stroke-width: 10;
}

.star__logo--hovered path {
	fill: #ffd200;
	stroke: none;
}
