#stars {
	display: flex;
	justify-content: space-between;
	width: 500px;
}

.star__logo {
	width: 4rem;
}

.star__logo path {
	fill: none;
	stroke: #808080;
}

.star__logo_over path {
	fill: #ffd200;
	stroke: none;
}
